


<section id="visitanos" class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center mb-4">
      <div class="col-lg-8">
        <h2 class="mb-3">📍 ¡Visítanos!</h2>
        <p class="lead">Estamos en Buenos Aires, Argentina. Acercate a nuestro local para conocer todos nuestros
          productos de cerca.</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="ratio ratio-16x9 shadow rounded overflow-hidden">
          <iframe
            src="https://www.google.com/maps/embed?pb=!4v1749390979819!6m8!1m7!1s3SPzqLozP__7iScVaZoQUg!2m2!1d-34.50080184956724!2d-58.66166241771106!3f54.197335956688704!4f-4.025449582321215!5f0.7820865974627469"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>




