<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">

        <p> Siguenos en Instagram</p>
        <a href="https://www.instagram.com/creacionesdefranchu/" target="_blank">
          <div class="instagram-logo"></div>
        </a>
      </div>
      <div class="col">

        <p>Escribenos a whatsapp</p>
        <a href="https://api.whatsapp.com/send?phone=541162463460&text=Hola%20Pamela%2C%20" target="_blank">
          <div class="whatsapp-logo">
          </div>
        </a>

      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div id="home" class="row align-items-center hero px-4 py-3">
      <div class="col-md-6 col-lg-1 d-flex align-items-center">
        
      <div class="col-auto ms-auto">
        <a href="https://www.instagram.com/TU_USUARIO/" target="_blank">
          
        </a>
      </div>
    </div>
  </div>

  {{!-- <h1>{{title}}</h1>
  {{#if conocido}}
  <p>Hola {{nombre}} <a href="/salir">Salir</a></p>;
  {{/if}}

  {{#unless conocido}}
  <p>Bienvenido, deseas loguearte?</p>
  <form action="/ingresar" method="post">
  <input type="text" name="nombre"><button>Ingresar</button>
  </form>
  {{/unless}} --}}



  <div class="container my-5">
  <h2 class="text-center mb-4">Modelos Realizados.</h2>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/cortes.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="Taza modelo 1">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/kity.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="Taza modelo 2">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/cortesnames.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/lucaroil.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/lucaroil1.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/mca.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/sr1.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/stich.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/teens.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4 mb-4">
      <div class="zoom-container">
        <img src="imagenes/teens1.jpeg" class="img-zoom img-cuadrada img-fluid rounded shadow" alt="">
      </div>
    </div>
  </div>
</div>
